<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
 <script src="scripts/main.js"></script>
 <link type="text/css" rel="stylesheet" href="styles/style.css"/>
 <script src="scripts/handlerbars.js" ></script>  
<script  type="text/x-handlebars-template" id="clipTemplate">
{{#each data}}
	<div class="clip-item">
    	<h2>{{title}}</h2>
    	<img src="{{thumbnail}}" ></img>
    	<div class="base-info">
        	<p>Author: {{author}}</p>        	
        	<p>Views: {{viewCount}}</p>        	
    	</div>
    	<p>{{description}}<p><a href="{{youtubeLink}}">Watch on youtube!</a></p></p>
    	<div class='date' >{{publishDate}}</div>
    </div>
{{/each}}
</script>
</head>
<body > 
</body>

</html>
