 body{  	
	-webkit-touch-callout: none;
    -webkit-user-select: none; 
 }

 #container{ 
	left:0;  
	top: 6em;    
	width: 100%; 
	bottom: 3em;
	height :90%;	
	overflow: hidden; 
	position:fixed;  
} 

#slider{
	margin-left: 1%;
	margin-right: 1%; 
	position: relative;
	left: 0px;
}

#slider .clip-item { 
	position: relative;  
 	border-radius: 20px;
	border: 3px solid #596a72; 
    display: inline-block; 
    float: left;
    box-shadow: 10px 10px 5px #888888; 
} 

#slider .clip-item h2{
	font:bold 20px/1.5  Arial, Helvetica, sans-serif; 
	text-align: center;	
	color: rgb(0,51,102);
} 

#slider .clip-item img{
	border-radius: 5px;	
	float:left ;
}

.base-info{
	margin-left: 3px;	 
	font: bold 17px/1.5 ; 
} 
	

#header{
	background-image: -webkit-radial-gradient(center, circle farthest-corner, #05254A 0%, #000000 100%);
	position: fixed;
	left: 0px; 
	top: 0px; 
	right: 0px; 
	height: 3em; 
}

#header .icon{
	margin-left: 20px;	 
	height:6em;   	 
} 

#header input{	
    display: block;  
    margin-top: -6em;
    margin-left: auto;
    margin-right: auto;
	width: 300px; 
	border-radius: 5px; 	
	font:bold 90%/1.5  Arial, Helvetica, sans-serif; 
}


#footer 
{ 
	background-image: -webkit-radial-gradient(center, circle farthest-corner, #05254A 0%, #000000 100%);
	position: fixed; 
	left: 0px; 
	bottom: 0px; 
	right: 0px; 
	height: 2em; 
}
 
 #pagination
 {
 	margin: 0.5% auto; 	
 }

 #pagination .page-circle
 {
 	width: 10px;
 	height: 10px;
 	border-radius: 10px; 
 	display: inline-block;
	margin: 2px 5px;
	border: 2px solid rgb(225,225,225);
 }

 #pagination .page-circle.active
 {
 	background: rgb(225,225,225);
 }

.tooltip {
	position:relative;  
	text-decoration:none;  
	cursor:pointer;  
}
.tooltip span {  
	position:absolute;  
	bottom:20px;  
	left: -10px;
	width:30px;  
	opacity:0;   
	padding:10px 5px;  
	color:#fff;  
	font:bold 75%/1.5 Arial, Helvetica, sans-serif; 
	text-align:center; 
	pointer-events:none; 
	border-radius:6px; 
	text-shadow:1px 1px 2px rgba(0, 0, 0, 0.6); 
	background-image: -webkit-radial-gradient(center, circle farthest-corner, #05254A 0%, #000000 100%);
	border:2px solid rgba(255,255,255,.8);  
	box-shadow:0px 2px 4px rgba(0,0,0,0.5);  
	transition:all 0.3s ease-in-out;  
} 
.tooltip span:before, .tooltip span:after { /* bottom triangle - the white border */
	content:''; 
	position:absolute; 
	bottom:-13px;
	left:50%; 
	margin-left:-12px; 
	border-left:12px solid transparent; 
	border-right:12px solid transparent;
	border-top:12px solid rgba(255,255,255,.8); /* build bottom triangle modern browsers */
}
.tooltip span:after {  
	border-top:10px solid rgba(153, 158,200, 150);  
}
.tooltip:hover span {  
	opacity:1;  
	bottom:44px;  
} 


/************************************************************************************
less 980
*************************************************************************************/

@media screen and (max-width: 1400px){	

	#slider
	{	 
		width: 498%;
		height: 100%; 	
	} 

	#slider .no-results{
		font: bold 200%/1.5  Arial, Helvetica, sans-serif; 
		margin-left: 8%;
	}

	#slider .clip-item {  
	 	width: 6%; 
	 	height: 85%; 
	 	margin-right: 0.37%;
	 	margin-left: 0.13%; 
	} 

	#pagination
	{
	 	width: 150px;
	}

}

@media screen and (max-width: 780px){

	#slider
	{	 
		width: 798%;
		height: 100%; 
		margin-left: 1%;
		margin-right:1%;
	} 

	#slider .clip-item 
	{ 
		width: 5%; 
	 	height: 85%; 
	 	margin-right: 0.4%;
	 	margin-left: 0.6%;  
 	
	} 

	#pagination
	{
	 	width: 200px;
	}


}

@media screen and (max-width: 600px){

	#header .icon{
		visibility: hidden;  	 
	} 

	#header input
	{
		width: 90%;
	} 

	#slider
	{	 
		width: 1498%;
		height: 100%;		
	 	margin-right: 1%;
	 	margin-left: 0%;  
	} 

	#slider .clip-item 
	{ 
	 	width: 6.1%; 
	 	height: 85%; 
	 	margin-right: 0.3%;
	 	margin-left: 0.1%;  
 	}

 	#pagination
	{
	 	width: 50%; 
	 	display: block;
	} 

	#footer 
	{ 
		height: 2.5em; 
	}


}
